mark { 
  background-color: yellow;
  color: black;
}

h1 {
  color: white;
  font-size: 60pt;
  padding: 10px;
  text-align: center;
  height: 252px;
  background-repeat: no-repeat;
  background-position: center;
}

.centerstrip {
  background: rgb(162, 217, 238);
  align-items: center;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  padding: 10px;
}
.centercontrast {
  background: white;
  color: black;
  font-weight: bold;
  align-items: center;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  padding: 10px;
}

.main {
  align-items: center;
  text-align: center;
}
body {
  background-color: lightslategray;
  align-items: center;
  text-align: center;
}

.center {
  text-align: center;
}
.menu-items {
  display: inline-block;
  font-size: 30pt;
  padding: 5px;
  background: rgb(162, 217, 238);
  color: black;
  text-align: center;
  font-weight: 900;
}
.menu-items:hover {
  background: lightgreen;
}

.messages {
  margin: 0 auto;
  font-size: medium;
  border: 1px solid #333;
  border-collapse: collapse;
}
.td {
  border: 1px solid #333;
  padding: 10px;
}

.messagebox {
  width: 500px;
}

.loginform {
  background: rgb(162, 217, 238);
  align-items: center;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  padding: 10px; 
}
.headers {
  background: rgb(162, 217, 238);
  align-items: center;
  text-align: center;
  margin-left: 20%;
  width: 60%;
  margin-right: 20%;
  padding: 10px; 
}
